.text {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 100px 100px 100px;
    background-color: #293241;
    overflow: hidden;
    flex: 1 0 0px;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
  }

  .content {
    flex-shrink: 0;
    width: 1px;
    height: min-content; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1000px;
    min-width: 100px;
    overflow: hidden;
    flex: 1 0 0px;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 40;
    border-radius: 0px 0px 0px 0px;
  }

  .presentación {
    flex-shrink: 0;
    width: 1000px;
    height: auto; 
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "League Gothic", "League Gothic Placeholder", sans-serif;
    color: #98c1d9;
    font-size: 48px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: left;
  }
  
  .text1 {
    flex-shrink: 0;
    width: auto;
    height: min-content; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    flex: 1 0 0px;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 40;
    border-radius: 0px 0px 0px 0px;
  }

.pre1 {
    flex-shrink: 0;
    flex: 1 0 0px;
    width: auto;
    height: auto; 
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Martian Mono", monospace;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }

  .pre2 {
    flex-shrink: 0;
    flex: 1 0 0px;
    width: auto;
    height: auto; 
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Martian Mono", monospace;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
  }